@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
}

html:not(.dark) {
  color: #374151;
}

html:not(.dark) .prose {
  color: #374151;
}

html:not(.dark) .prose h1,
html:not(.dark) .prose h2,
html:not(.dark) .prose h3,
html:not(.dark) .prose h4,
html:not(.dark) .prose h5,
html:not(.dark) .prose h6 {
  color: #111827;
}

html:not(.dark) .prose p {
  color: #374151;
}
